body{
    margin: 20px;
}
h1{
    text-align: center;
}
nav ul{
    list-style-type: none;
    background-color: olive;
    padding: 2px;
    margin: 8px;
    overflow: hidden;  
}
nav a{
   color: white;
   text-decoration: none;
   padding: 10px;
   display: block;
   text-align: center;
}
nav a:hover{
    background-color: black;
}
nav li{
    float: left
}