body{
    margin: 20px;
}
h1{
    text-align: center;
}
nav ul{
    list-style-type: none;
    background-color: olive;
    padding: 2px;
    margin: 8px;
    overflow: hidden;  
}
nav a{
   color: white;
   text-decoration: none;
   padding: 10px;
   display: block;
   text-align: center;
}
nav a:hover{
    background-color: black;
}
nav li{
    float: left
}
.text-center {
    text-align: center;
    color: white;
}
.bgh1{
    background-color: olive;
    color: white;
    border-radius: 80%;
    margin-top: 5px;
    margin: 6px;
}
.textcolor{
    background-color: olive;
    color: white;
    padding: 6px;
}

#me{
    height: 350px;
    display: block;
    margin: 30px auto;
    border: 9px solid olive;
}
