body{
    margin: 20px;
    background-color: tan;
}
h1{
    text-align: center;
}
nav ul{
    list-style-type: none;
    background-color: olive;
    padding: 2px;
    margin: 8px;
    overflow: hidden;  
}
nav a{
   color: white;
   text-decoration: none;
   padding: 10px;
   display: block;
   text-align: center;
}
nav a:hover{
    background-color: black;
}
nav li{
    float: left
}
.text-center {
    text-align: center;

}
.textC{
    text-align: center;
}
.bgh1{
    background-color: olive;
    color: white;
    border-radius: 80%;
    margin-top: 5px;
    margin: 6px;
}
.textcolor{
    background-color: olive;
    color: white;
    padding: 6px;
}

#me{
    height: 350px;
    display: block;
    margin: 30px auto;
    border: 9px solid olive;
}
#bg{
   background-color: blanchedalmond;
}
nav{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.logo{
    background-color: olive;
    color: white;
    border-radius: 50%;
    margin-top: 6px;
    margin: 6px;  
    position: fixed;
    bottom: 0;
    right: 0;
    height: 70px;
}
.project {
    display: flex;
    padding-top: 50px;
    
}
.project img {
    border-radius: 24px;
    margin: 14px;
}
.project:nth-child(even){
flex-direction: row-reverse;
}
.fontt {
    font-style: italic;
 font:  sans-serif;
}